      * { box-sizing: border-box; } /* стабилизирует (предотвращает выползание блоков) */
      
      html, body {
        display: flex;
        background: #F4F5F9;
        flex-direction: column;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      /* Стили для аутентификации */
      .hidden {
        display: none;
      }
      
      /* Шапка */
      .header {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
      }

      .header__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .header__logo {
        font-family: "Inter", "sans-serif";
        font-size: 20px;
        font-weight: 500;
        color: #000000;
      }

      /* В шапке заголовок кликабельный на главную страницу */
      .header__logo-link {
        font-family: "Inter", "sans-serif";
        font-size: 20px;
        font-weight: 300;
        color: #000000;
        text-decoration: none;
      }

      .header__logo-link:hover {
        text-decoration: underline;
        color: orange;
      }

      /* навигация шапки  */
      .header__links-nav {
        display: flex;
        gap: 20px;
        list-style: none;
      }

      /* навигация шапки ссылки */
       .header__links-nav li a {
        text-decoration: none;
      }

      /* навигация шапки ссылки эффект наведения hover*/
      .header__links-nav li a:hover {
        text-decoration: underline;
        color: orange;
      }

      .header__nav-link {
        font-family: "Inter", "sans-serif";
        font-size: 16px;
        font-weight: 300;
        color: #000000;
      }

      .main__page-content {
        font-size: 16px;
        flex: 1;
      }

      /* Поиск на главной странице */
      .section__search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
      }

      .input__search {
        text-align: left;
        width: 50%;
        max-width: 400px;
        min-width: 250px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #000000;
      }

      /* Цвет текста в плейсхолдере */
      .input__search::placeholder {
        color: #000000;
        opacity: 1;
      }

      /* Рамка при фокусе */
      .input__search:focus {
        border: 1px solid #ddd;
        outline: none; /* внешняя рамка */
      }

      /* Главная страница меню */
      .section__output-container {
        margin: 15px;
        padding: 10px;
      }

      .section__output-h3,
      .section__cart-h3 {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin: 0 0 12px 0;
        padding: 0;
      }

      #main__output {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: #000000;
      }

      #main__output,
      #div__cart-items {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: #000000;
      }

      #main__output h3,
      #main__output p,
      #main__output li,
      #div__cart-items h3,
      #div__cart-items p,
      #div__cart-items li {
        padding: 0;
      }

      /* Пагинация на главной странице */
      .section__pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .button__next-page,
      .button__prev-page {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #ddd;
        font-family: "Montserrat", "sans-serif";
        color: black;
        border-radius: 5px;
      }

      /* Подвал */
      .footer {
        margin: 0;
        padding: 10px;
        border-top: 1px solid #ddd;
        margin-top: 20px;
      }

      .footer__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .footer__paragraph {
        font-family: "Inter", "sans-serif";
        font-size: 20px;
        font-weight: 300;
        color: #000000;
      }

      /* навигация подвала */
      .footer__links-nav {
        display: flex;
        gap: 20px;
        list-style: none;
      }

      /* навигация подвала ссылки */
      .footer__links-nav li a {
        text-decoration: none;
      }

      /* навигация подвала ссылки эффект наведения hover */
      .footer__links-nav li a:hover {
        text-decoration: underline;
        color: orange;
      }

      .footer__nav-link {
        font-family: "Inter", "sans-serif";
        font-size: 16px;
        font-weight: 300;
        color: #000000;
      }